<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}ASPTT Nantes Handball{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/menu.css') }}" type="text/css" />
    {% endblock %}
</head>

<body>
<div class="container">
    <div id="header-asptt">
        <img class="img-responsive" src="{{ asset('bundles/app/images/banniere1.png') }}" alt="ASPTT" />
    </div>

    <div class="row">

        {{ render(controller("AppBundle:Default:menu")) }}
    </div>
    <div class="row">

        {% block body %}
        {% endblock %}

    </div>
    <hr>


</div>
{# Footer #}
{% include "AppBundle::footer.html.twig" %}
{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/app/js/menu.js') }}"></script>
{% endblock %}

</body>
</html>