{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block body %}
    <h1>Edition Historique</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <button type="submit" class="btn btn-warning">modifier</button>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_history_index') }}"class="btn btn-primary">retour</a>
        </li>
    </ul>
{% endblock %}