body {
    padding: 0px;
    font-family: 'Arial', 'sans-serif';
    background-color: lightgray;
    background: radial-gradient(ellipse at center top, white, lightgray);
}
.mega-dropdown {
    position: static !important;
}

#active{
    color: limegreen;
}

#titre{
    margin-left: -113px;
}

#titre1{
    margin-left: 50px;
}

#titre2{
    margin-left: 111px;
}

input{
    color: white;
    background-color: #5cb85c;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 13px 27px;
    margin: 5px;
}

.btn-default{
    color: white;
    background-color: #4D5656;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 13px 27px;
    margin: 5px;
}

h2{
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
    color: grey;
}

p{
    margin: 50px;
}

.table > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}
th{
    text-align: center;
}

#evt{
    display: flex;
    text-align: center; 
    justify-content: space-around;
}

.dropdown-headerEvent{
    color: limegreen;
    font-size: 22px;
}
    
.titleEvent{
    background-color: black;
    padding: 5px;
    color: limegreen;
}
.article{
    text-align: center;
    background-color: white;
}

.imgEvent{
    display: initial;
    margin-bottom: 50px;
}

.row{
    text-align: center;
}

.form-group{
    text-align: right;
}
.event{
    margin: 16px;
}

#result{
    color: limegreen;
}

#palm{
    margin: auto;
}


.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    color: #222;
    padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: limegreen;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;

}
.left.carousel-control {
    right: 30px;
    left: inherit;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}
.menu-img{
    max-width: 300px;
}
@media (max-width: 480px) {
    .mega-dropdown-menu > li > ul > li > a {
        display: block;
        color: white;
        padding: 3px 5px;
    }
    .menu-img{
        display: none;
    }
}
.img-responsive{
    margin: 0 auto;
}
li{
    list-style: none;
}
.btn{
    margin:5px;
}
.footer
{
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom:-10px;
    box-sizing: border-box;
}
a
{
    color:limegreen;
}
a:hover
{
    text-decoration: none;
    color:gray;
}
a:active
{
    background-color: black;
}
a:visited:hover
{
    text-decoration: none;
    color:gray;
}
.nav-white {
    color: #dddddd;
}
ul.nav-white{
    padding-left: 0;
    margin-left:100px;
    margin-right:100px;
}
.footer{
    display: flex;
    justify-content: space-around;
}
#header-asptt{
    background-color: #0b0b0b;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
#team-form .alert-danger{
    display: none;
}
/*.alert{*/
     /*display: none;*/
 /*}*/
.lime{
    background-color: limegreen;
}
span.dom{
    background-color: limegreen;
    color: limegreen;
    width: 25px;
    height: 20px;
    border:1px solid grey;
}
span.ext{
    background-color: rgb(231,231,231);
    color: rgb(231,231,231);
    width: 25px;
    height: 20px;
    border:1px solid grey;
}
.side-post .panel-heading{
    background-color: limegreen;
}

/*navbar*/
.menu-nav{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

.navbar-asptt {
    background-color: #0b0b0b;
    border-color: #080808;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.navbar-asptt .navbar-brand {
    color: #9d9d9d;
}
.navbar-asptt .navbar-brand:hover,
.navbar-asptt .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-asptt .navbar-text {
    color: #9d9d9d;
}
.navbar-asptt .navbar-nav > li > a {
    color: #9d9d9d;
}
.navbar-asptt .navbar-nav > li > a:hover,
.navbar-asptt .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-asptt .navbar-nav > .active > a,
.navbar-asptt .navbar-nav > .active > a:hover,
.navbar-asptt .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #080808;
}
.navbar-asptt .navbar-nav > .disabled > a,
.navbar-asptt .navbar-nav > .disabled > a:hover,
.navbar-asptt .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}
.navbar-asptt .navbar-toggle {
    border-color: #333;
}
.navbar-asptt .navbar-toggle:hover,
.navbar-asptt .navbar-toggle:focus {
    background-color: #333;
}
.navbar-asptt .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-asptt .navbar-collapse,
.navbar-asptt .navbar-form {
    border-color: #101010;
}
.navbar-asptt .navbar-nav > .open > a,
.navbar-asptt .navbar-nav > .open > a:hover,
.navbar-asptt .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #080808;
}
@media (max-width: 767px) {
    .navbar-asptt .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .navbar-asptt .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }
    .navbar-asptt .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }
    .navbar-asptt .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-asptt .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }
    .navbar-asptt .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-asptt .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-asptt .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }
    .navbar-asptt .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-asptt .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-asptt .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}
.navbar-asptt .navbar-link {
    color: #9d9d9d;
}
.navbar-asptt .navbar-link:hover {
    color: #fff;
}
.navbar-asptt .btn-link {
    color: #9d9d9d;
}
.navbar-asptt .btn-link:hover,
.navbar-asptt .btn-link:focus {
    color: #fff;
}
.navbar-asptt .btn-link[disabled]:hover,
fieldset[disabled] .navbar-asptt .btn-link:hover,
.navbar-asptt .btn-link[disabled]:focus,
fieldset[disabled] .navbar-asptt .btn-link:focus {
    color: #444;
}