{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block body %}
    <h1>Création match</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">ajouter</button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_event_index') }}"class="btn btn-primary">retour</a>
        </li>
    </ul>
{% endblock %}
