{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block body %}
    <h1>Création d'un événement</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">ajouter</button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_post_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
