{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Contact Administration
{% endblock %}

{% block body %}
<div>
    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('notice') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
</div>
<div class="container">
    <header class="page-header">
        <h2>Contact Administration</h2>
    </header>
</div>
{% endblock %}