{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    <h1>History</h1>

    <table>
        <tbody>
          {% for history in histories %}
            <tr>

            </tr>
            <tr>
                <th>Title</th>
                <td>{{ history.title }}</td>
            </tr>
            <tr>
                <th>Historycontent</th>
                <td>{{ history.historyContent }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

{% endblock %}
