{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <div>
        {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('notice') %}
            <p>Info: {{ message }}</p>
        {% endfor %}
    </div>
    <h2>Les news</h2>


{% endblock %}
