{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ history.title }}
{% endblock %}

{% block body %}
    <div>
        {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('notice') %}
            <p>Message flash : {{ message }}</p>
        {% endfor %}
    </div>
    <div class="row">
        <header class="page-header">
            <h2>{{ history.title }}</h2>
        </header>
        <section class="col-sm-offset-2 col-sm-8">
            {{ history.content }}
        </section>

{% endblock %}